
footer
	nav
		ul
			for option in config.navigation 
				if option.slug == page 
					if option.slug == 'home'
						li(id="#{option.slug}").active 
							a(href='/#{option.slug}' title='#{option.name}') #{option.name}
					else
						li(id="#{option.slug}").active 
							a(href='/#{option.slug}' title='#{option.name}') #{option.name}
				else
					if option.slug == 'home'
						li(id="#{option.slug}")
							a(href='/' title='Home') #{option.name}
					else
						li(id="#{option.slug}")
							a(href='/#{option.slug}' title='#{option.name}') #{option.name}

	.footer-credits  
		a(href='http://meedoenisbelangrijkerdanwinnen.nl' title='#{site_title} by M.I.B.D.W.' target='_blank') Where are the Snowdens of yesteryear?

script(src='/scripts/jquery-1.11.0.min.js')
script(src='/scripts/yossarian-general.js')
script(src='/scripts/yossarian-#{page}.js')