
doctype html
html
	head
		if page == "home"
			title #{site_title} &mdash; #{site_description}
		else
			for option in nav_menu.options
				if option.slug == page
					title #{site_title} &mdash; #{option.name}

		link(href='/styles/style.css', rel='stylesheet')
		link(href='/images/yossarian.ico', rel='shortcut icon')

		script(src='/scripts/modernizr.custom.11163.js')
	body

		header 
			a.header-brand(href="/" title='#{site_title} - Back home' )
				include branding.jade

			//- .header-search
				input(type='search' placeholder='Search')
				button
					i.fa.fa-search

			.header-user
				i.fa.fa-user
				span #{user.username}

				ul.header-user-menu
					li						
						a(href='#') 
							i.fa.fa-male
							span Profile
					li
						a(href='/logout')
							i.fa.fa-sign-out
							span Logout  

			nav.header-nav
				ul
					for option in nav_menu.options 
						if option.slug == page 
							if option.slug == 'home'
								li(id='#{option.slug}').active
									a(href='/' title='Home'): i(class='fa fa-#{option.icon}')
							else
								li(id='#{option.slug}').active
									a(href='/#{option.slug}' title='#{option.name}'): i(class='fa fa-#{option.icon}')
						else
							if option.slug == 'home'
								li(id='#{option.slug}')
									a(href='/' title='Home'): i(class='fa fa-#{option.icon}')
							else
								li(id='#{option.slug}')
									a(href='/#{option.slug}' title='#{option.name}'): i(class='fa fa-#{option.icon}')
